.navbar-container {
  padding: 20px 100px;
}

.navbar-container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container .logo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 34px;
  font-style: italic;
  color: #e6533c;
  font-weight: bold;
}

.nav-icon {
  display: none;
}

.nav .nav-menu button {
  border: none;
  cursor: pointer;
  padding: 6px 20px;
}

.nav .nav-menu button:nth-child(1) {
  background-color: #e6533c;
  border-radius: 100px;
  font-size: 16px;
}

.nav .nav-menu {
  border: 1px solid #313131;
  display: flex;
  gap: 0px 30px;
  padding: 4px 8px;
  border-radius: 100px;
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  .navbar-container {
    padding: 20px 20px;
  }

  .navbar-container .nav .nav-menu {
    display: none;
  }

  .nav-icon {
    display: block;
  }
  .nav-icon img {
    height: 40px;
    width: 40px;
  }
}
